<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" class="footer" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxFlex="33.33" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxLayoutAlign="center none" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/logo1.png" style="height: 50px;     width: 150px;" class="footerlogo"><span style="color:#df252b;font-size:18px;margin-top:12px;">
                India</span>
          <p style="color:white;">
            No.156, 3rd Cross End, Ashoka Pillar Rd,<br>
            1st Block, Jaya Nagar East,<br>
            Bengaluru &#x2013; 560011, Karnataka<br>
            Phone: +91 80 4171 8111</p>
        </div>
      </div>
      <div fxLayout="row wrap" style="margin-top: 30px;" fxFlex="33.33" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="margin-top: 30px;" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
          <h3 style="color:white;  font-size: 20px;">
            Overview</h3>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div style="color:white;  font-size: 25px;">
              <a style="color:white;font-size:14px;text-decoration:none;" href="https://www.neutrinos.co/">Company</a><br>
              <a style="color:white;font-size:14px;text-decoration:none;" href="https://www.neutrinos.co/"> Platform</a><br>
              <a style="color:white;font-size:14px;text-decoration:none;" href="https://www.neutrinos.co/">Developers</a><br>
              <a style="color:white;font-size:14px;text-decoration:none;" href="https://www.neutrinos.co/"> Community</a><br></div>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" style="margin-top:30px;" fxFlex="33.33" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="margin-top: 30px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <h3 style="color:white;  font-size: 20px;">
            Get In Touch</h3>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/f.png" style="height:30px;"><img imgSrc="Web/l.png" style="height:30px;margin-left:30px;"><img imgSrc="Web/t.png" style="height:30px;margin-left:30px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>