<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" class="footer" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxLayoutAlign="center none" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="margin-top:5em;" fxLayoutAlign="center none" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/logo1.png" style="height: 50px;     width: 200px;" class="footerlogo"><span style="color:#EC1C24;font-size:18px;margin-top:12px;">
                India</span>
          <p style="font-size:15px;line-height:1.8em;">
            No.156, 3rd Cross End, Ashoka Pillar Rd,<br>
            1st Block, Jaya Nagar East,<br>
            Bengaluru &#x2013; 560011, Karnataka<br>
            Phone: <a style=" font-size:15px;line-height: 1.8em;color:white;text-decoration:none;" href="tel:+91-80-4171-8111"> +91 80 4171 8111<br>
              Email: <a style=" font-size:15px;line-height: 1.8em;color:white;text-decoration:none;" href="mailto:idea@neutrinous.com">idea@neutrinous.com</a></a></p>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center none" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <h3>
            Overview</h3>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div>
              <a href="https://www.neutrinos.co/" style="color:white;font-size:15px;text-decoration:none;line-height:1.8em;" target="_blank">Company</a><br>
              <a href="https://www.neutrinos.co/platform-neutrinos/" style="color:white;font-size:15px;text-decoration:none;line-height:1.8em;" target="_blank"> Platform</a><br>
              <a href="https://www.neutrinos.co/community/#com-dev" style="color:white;font-size:15px;text-decoration:none;line-height:1.8em;" target="_blank">Developers</a><br>
              <a href="https://www.neutrinos.co/community/#com-par" style="color:white;font-size:15px;text-decoration:none;line-height:1.8em;" target="_blank"> Partners</a>

            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" style="margin-top:55px;" fxLayoutAlign="center none" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxLayoutAlign="  center" [fxShow]="true" [fxHide]="false">
          <h3>
            Get In Touch</h3>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/f.png" style="height:30px;"><img imgSrc="Web/l.png" style="height:30px;margin-left:30px;"><img imgSrc="Web/t.png" style="height:30px;margin-left:30px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>