<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <bh-header></bh-header>
  <div fxLayout="column wrap" style="margin-top:5em;" fxLayoutAlign="  center" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <h1>
          First,Lets find Your Account</h1>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div>
          Please enter your email or phone</div>
      </div>
    </div>
  </div>
</div>
<div fxLayout="column wrap" style="margin-top:5em;" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="!enteruseremail">
  <form [formGroup]="forgotpassword" (ngSubmit)="emailSubmit()">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-form-field style="width:30em;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
        <input matInput placeholder="Enter Register Email Id" required formControlName="email">

      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="1.5em" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="btn" type="submit">Find Account</button><button mat-button style="width:9em;background-color:black;color:white;" type="reset">Cancel</button></div>
  </form>
</div>
<div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="!updatepass">
  <form [formGroup]="resetpassword" (ngSubmit)="resetPassword()">
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="conformpassmatch">
      <h4 style="color:red;">
        Password and confirm Password should be match</h4>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-form-field style="width:30em;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
          <input matInput type="password" placeholder="Enter New Password" required formControlName="password" [type]="passwordtype">

        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon (click)="togglePassword()" *ngIf="!passwordshow">visibility_off</mat-icon>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon *ngIf="passwordshow" (click)="togglePassword()">visibility</mat-icon>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-form-field style="width:30em;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
          <input matInput type="password" placeholder="Conform the Password" required formControlName="conformpassword" [type]="passwordtype1">

        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon (click)="togglePassword1()" *ngIf="!passwordshow1">visibility_off</mat-icon>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon *ngIf="passwordshow1" (click)="togglePassword1()">visibility</mat-icon>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="1.5em" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="btn" type="submit">Update Password</button><button mat-button style="width:9em;background-color:black;color:white;" type="reset">Cancel</button></div>
  </form>
</div>