<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row " fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false" fxFill>
      <div fxLayout="column wrap" style="height:100%;margin-top:5em;" class="Margin-tb" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlex.gt-md="80" fxFlex.sm="80" fxFlex.md="80" fxFlex.xs="100">
        <form #form="ngForm" style="Width=100%">
          <mat-card style="margin-top:10%;width:400px;">
            <mat-card-title style="text-align:center;font-weight:bold;">Instructor Registration</mat-card-title>

            <mat-card-content>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1.25em" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                    <mat-icon>person</mat-icon>
                  </div>
                  <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                      <input matInput [(ngModel)]="dm.instructordetails.firstName" name="firstName" placeholder="Course Name" required [disabled]="false">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1.25em" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                    <mat-icon>person</mat-icon>
                  </div>
                  <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                      <input matInput [(ngModel)]="dm.instructordetails.lastName" name="lastName" placeholder="Course Stream" required [disabled]="false">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1.25em" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                    <mat-icon>email</mat-icon>
                  </div>
                  <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                      <input matInput [(ngModel)]="dm.instructordetails.email" name="email" placeholder="Duration" required [disabled]="false">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1.25em" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                    <mat-icon>lock</mat-icon>
                  </div>
                  <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                      <input matInput [(ngModel)]="dm.instructordetails.password" name="password" type="password" placeholder="Price" required [disabled]="false">

                    </mat-form-field>
                  </div>
                </div>
              </div>
            </mat-card-content>

            <mat-card-actions>
              <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="margin-left:2em ;font-weight:bold;" color="primary" (click)="onSave(form.value)">Submit</button><button mat-raised-button style="margin-right:2em;;font-weight:bold;" color="warn" (click)="onSave(form.value)">Cancel</button></div>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
    </div>
  </div>
</div>