<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <bh-header style="margin-bottom:0px;"></bh-header>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-card style="padding:0px;margin:2em;color:white;" class="card_header">
      <mat-card-content>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:25%;height:10em;background-color:black;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/logo1.png"></div>
            <div fxLayout="column wrap" style="width:75%;background-color:black;padding-left:3em;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
              <h1>
                {{coursename}}</h1>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="width:70%;padding: 60px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <h3>
          Learning outcomes</h3>
        <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" style="font-size:22px;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><label *ngFor="let outcome of  outcomes" style="width:100%;margin:0.3em;" class="spaceallow">

              <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:red;">label_important</mat-icon>{{outcome}}


            </label></div>
        </div>
      </div>
      <div fxLayout="column wrap" style="width:30%;padding-top:5em;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" style="width:10%;height:4em;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon>account_circle</mat-icon>
          </div>
          <div fxLayout="column wrap" style="width:90%;height:4em;" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
            <h2 style="margin-bottom:0px;">
              Instructor-led</h2>
            <h3 style="margin:0.3px;color:grey;font-size:22px;">
              {{courseauthor}}</h3>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" style="width:10%;height:4em;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon>update</mat-icon>
          </div>
          <div fxLayout="column wrap" style="width:90%;height:4em;" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
            <h2 style="margin-bottom:0px;">
              Course Duration</h2>
            <h3 style="margin:0.3px;color:grey;font-size:22px;">
              {{courseduration}}</h3>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" style="width:10%;height:4em;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon>attach_money</mat-icon>
          </div>
          <div fxLayout="column wrap" style="width:90%;height:4em;" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
            <h2 style="margin-bottom:0px;">
              Course Price</h2>
            <h3 style="margin:0.3px;color:grey;font-size:22px;">
              {{courseprice}}</h3>
          </div>
        </div>
        <div fxLayout="row wrap" style="margin-top:2em;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><button mat-button style="width:70%;" class="btn" (click)="buyNow()" routerLink="/allcourses">Buy Now</button></div>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" style="width:62%;margin-left:4em;margin-bottom:4em;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>

          <mat-panel-title style="font-size:24px;font-weight:bold;">
            Program Overview
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description style="font-style:18px;width:800px;line-height:2em;" class="spaceallow1">
          {{coursedescription}}
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <bh-footer></bh-footer>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <router-outlet></router-outlet>
  </div>
</div>