<div fxLayout="column wrap" style="margin-left:1.5em;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h1>
        Selected Courses Details</h1>
    </div>
  </div>
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><label style="font-size:18px;font-weight:bold;">
          Course Name</label></div>
      <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div class="spaceallow">
          {{dataInfo.courseName}}</div>
      </div>
    </div>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><label style="font-size:18px;font-weight:bold;">
          Duration</label></div>
      <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div class="spaceallow">
          {{dataInfo.duration}}</div>
      </div>
    </div>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><label style="font-size:18px;font-weight:bold;">
          Description</label></div>
      <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div class="spaceallow">
          {{dataInfo.coursedescription}}</div>
      </div>
    </div>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><label style="font-size:18px;font-weight:bold;">
          6. Price</label></div>
      <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div class="spaceallow">
          {{dataInfo.price}}</div>
      </div>
    </div>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><label style="font-size:18px;font-weight:bold;">
          1.Learning Outcome</label></div>
      <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div class="spaceallow">
          {{dataInfo.learning_outcome_1}}</div>
      </div>
    </div>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><label style="font-size:18px;font-weight:bold;">
          2. Learning Outcome</label></div>
      <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div class="spaceallow">
          {{dataInfo.learning_outcome_2}}</div>
      </div>
    </div>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><label style="font-size:18px;font-weight:bold;">
          3.Learning Outcome</label></div>
      <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div class="spaceallow">
          {{dataInfo.learning_outcome_3}}</div>
      </div>
    </div>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><label style="font-size:18px;font-weight:bold;">
          4. Learning Outcome</label></div>
      <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div class="spaceallow">
          {{dataInfo.learning_outcome_4 }}</div>
      </div>
    </div>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><label style="font-size:18px;font-weight:bold;">
          5. Learning Outcome</label></div>
      <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div class="spaceallow">
          {{dataInfo.learning_outcome_5}}</div>
      </div>
    </div>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><label style="font-size:18px;font-weight:bold;">
          6. Learning Outcome</label></div>
      <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div class="spaceallow">
          {{dataInfo.learning_outcome_6}}</div>
      </div>
    </div>
    <div fxLayout="row wrap" style="margin-top:1em;" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><button mat-button style="color:white;" class="btn" (click)="updateStatus(dataInfo._id,&apos;approved&apos;) ">Approve</button><button mat-button style="width:7em;background-color:black;color:white;" (click)="updateStatus(dataInfo._id,&apos;reject&apos;)">Reject</button></div>
  </div>
</div>