<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="height:5em;width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="margin:1em;margin-left:3em;" fxFlex="100" fxLayoutGap="1.2em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="padding-left:0.5em;height:5em;color:white;background-color:#df252b;" fxFlex="18" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <h4>
          Total Courses <br> Created <label style="font-size:2em; margin-left:5em;">{{totalcourses}}</label></h4>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" style="width:100%;padding:2em;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="margin-top:1em;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <h3>
          Course Approval Requests</h3>
        <div>
          <hr color="darkgray" size="1">
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" style="margin-top:1em;" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngFor="let courses of  coursesandrole">
        <div fxLayout="row wrap" class="class12" fxFlex="98" fxLayoutGap="1.5em" fxLayoutAlign="start center" [fxShow]="false" [fxHide]="false">
          <mat-card (click)="openDialog(courses ,&apos;course&apos;)" style="height:40px;background-color:black;color:white;font-weight:500;box-shadow:4px 4px  9px grey;" class="Card_box">
            <mat-card-title class="spaceallow handcursor" style="font-size:15px;width:200px;font-weight:bold;" align="center">{{courses .courseName}} </mat-card-title>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" style="width:100%;padding-left:2em;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <h3>
          Approved Courses</h3>
        <div>
          <hr color="darkgray" size="1">
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" style="margin-top:1em;" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngFor="let approvedcourses of  approvedandaccessCourse">
        <div fxLayout="row wrap" class="class12" fxFlex="98" fxLayoutGap="1.5em" fxLayoutAlign="start center" [fxShow]="false" [fxHide]="false">
          <mat-card (click)="openDialogAccess(approvedcourses)" style="height:40px;background-color:black;color:white;font-weight:500;box-shadow:4px 4px  9px grey;" class="Card_box">
            <mat-card-title class="spaceallow handcursor" style="font-size:15px;width:200px;font-weight:bold;" align="center">{{approvedcourses .courseName}} </mat-card-title>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" style="width:100%;padding-left:2em;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <h3>
          Rejected Courses</h3>
        <div>
          <hr color="darkgray" size="1">
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" style="margin-top:1em;" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngFor="let rejectedcourse of  rejectedCourses">
        <div fxLayout="row wrap" class="class12" fxFlex="98" fxLayoutGap="1.5em" fxLayoutAlign="start center" [fxShow]="false" [fxHide]="false">
          <mat-card (click)="openDialog(rejectedcourse,&apos;course&apos;)" style="height:40px;background-color:black;color:white;font-weight:500;box-shadow:4px 4px  9px grey;" class="Card_box">
            <mat-card-title class="spaceallow handcursor" style="font-size:15px;width:200px;font-weight:bold;" align="center">{{rejectedcourse.courseName}} </mat-card-title>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>