<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <router-outlet></router-outlet>
</div>
<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="100">
  <bh-header></bh-header>
  <mat-card>
    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="padding:0px 10px;" fxFlex="100" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxFlex="50" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false" fxFlex.xs="100">
            <mat-grid-list cols="4" fxFlex.xs="100">
              <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="100">
                <div fxLayout="column wrap" class="box" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlex.xs="100">
                  <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                    <h4 style="line-height:1.5em;">
                      Acceleration<br>
                      #NeutrinosFast</h4>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                    <p style="line-height:1.7em;font-size:15px;">
                      We transform app backlog into a high-octane app factory with the fastest ``time-to-monetisation`` with no compromise on enterprise-grade quality.</p>
                  </div>
                </div>
                <div fxLayout="column wrap" class="box" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlex.xs="100" fxFlexFill.xs="true">
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <h4>
                      Solutions<br>
                      #NeutrinosSolved</h4>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <p>
                      We understand your unique challenges. We develop custom, state of the art solutions and implement them with unwavering follow up &amp; support.</p>
                  </div>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="column wrap" class="box" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <h4>
                      Enablement<br>
                      #NeutrinosTogether</h4>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <p>
                      With state-of-the art security and seamless platform integration, we ensure your peace of mind. Boost productivity without the costs and typically long lead times.</p>
                  </div>
                </div>
                <div fxLayout="column wrap" class="box" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <h4 style="font-size:20.5px;">
                      Enablement<br>
                      #NeutrinosTogether</h4>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <p style="line-height:none;">
                      Our Platform, Tools &amp; Support are available to developers from all walks of life. Join our community to unleash creativity, productivity and commercial success.</p>
                  </div>
                </div>
              </div>
            </mat-grid-list>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
            <mat-grid-list cols="0.5" class="product">
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <h3 style="font-size:20px; line-height:1.5em;">
                  Delivering value to everyone from Enterprises to Citizen Developers</h3>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <h4>
                      <ul>
                        <li>Large Enterprises</li>
                      </ul>
                    </h4>
                  </div>
                  <div fxLayout="row wrap" class="Product-Content" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <p style="padding-left:20px;;">
                      Accelerate your development cycles and hand over app development capabilities to the entire organization</p>
                  </div>
                </div>
                <div fxLayout="column wrap" style="margin-top:-20px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <h4>
                      <ul>
                        <li>SMME/Start-Ups
                        </li>
                      </ul>
                    </h4>
                  </div>
                  <div fxLayout="row wrap" class="Product-Content" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <p style="padding-left:20px;">
                      Reach for the stars without the budget for a space program! Simple, powerful apps to unlock your value, delivered in days.</p>
                  </div>
                </div>
                <div fxLayout="column wrap" style="margin-top:-20px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <h4>
                      <ul>
                        <li>Enterprise App Developers
                        </li>
                      </ul>
                    </h4>
                  </div>
                  <div fxLayout="row wrap" class="Product-Content" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <p style="padding-left:20px;">
                      Unleash your creative potential while leveraging the collaborative productivity of the whole community - best of both worlds</p>
                  </div>
                </div>
                <div fxLayout="column wrap" style="margin-top:-20px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <h4>
                      <ul>
                        <li>Citizen Developers
                        </li>
                      </ul>
                    </h4>
                  </div>
                  <div fxLayout="row wrap" class="Product-Content" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <p style="padding-left:20px;">
                      Scale from zero to Enterprise quality apps in a matter of days
                    </p>
                  </div>
                </div>
              </div>
            </mat-grid-list>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>