<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <router-outlet></router-outlet>
</div>
<div fxLayout="column wrap" style="padding-left:20px;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <h1 style="font-size:30px;color:red;">
      The Platform
    </h1>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <p style="font-size:20px;">
      Accelerate Transformation. Redefine Productivity.
    </p>
  </div>
  <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
      <mat-grid-list cols="2" style="width:50%;">
        <div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" class="box" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <h3 style="font-size:25px;">
                Acceleration<br>
                #NeutrinosFast</h3>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <p>
                We transform app backlog into a high-octane app factory with the fastest ``time-to-monetisation`` with no compromise on enterprise-grade quality.</p>
            </div>
          </div>
          <div fxLayout="column wrap" class="box" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <h3 style="font-size:25px;">
                Solutions<br>
                #NeutrinosSolved</h3>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <p>
                We understand your unique challenges. We develop custom, state of the art solutions and implement them with unwavering follow up &amp; support.</p>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" class="box" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <h3 style="font-size:25px;    text-align: center;">
                Reliability<br>
                #NeutrinosTrust</h3>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <p>
                With state-of-the art security and seamless platform integration, we ensure your peace of mind. Boost productivity without the costs and typically long lead times.</p>
            </div>
          </div>
          <div fxLayout="column wrap" class="box" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <h3 style="font-size:25px;    text-align: center;">
                Enablement<br>
                #NeutrinosTogether</h3>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <p>
                Our Platform, Tools &amp; Support are available to developers from all walks of life. Join our community to unleash creativity, productivity and commercial success.</p>
            </div>
          </div>
        </div>
      </mat-grid-list>
      <mat-grid-list style="width:50%">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <h3 style="font-size:30px;">
            Delivering value to everyone from Enterprises to Citizen Developers</h3>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <h3 style="color:red;">
                <ul>
                  <li>Large Enterprises</li>
                </ul>
              </h3>
            </div>
            <div fxLayout="row wrap" style="padding-left:20px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <p style="padding-left:20px;">
                Accelerate your development cycles and hand over app development capabilities to the entire organization</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <h3 style="color:Red;">
                <ul>
                  <li>SMME/Start-Ups
                  </li>
                </ul>
              </h3>
            </div>
            <div fxLayout="row wrap" style="padding-left:20px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <p style="padding-left:20px;">
                Reach for the stars without the budget for a space program! Simple, powerful apps to unlock your value, delivered in days.</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <h3 style="color:Red">
                <ul>
                  <li>Enterprise App Developers
                  </li>
                </ul>
              </h3>
            </div>
            <div fxLayout="row wrap" style="padding-left:20px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <p style="padding-left:20px;">
                Unleash your creative potential while leveraging the collaborative productivity of the whole community - best of both worlds</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <h3 style="color:red;">
                <ul>
                  <li>Citizen Developers
                  </li>
                </ul>
              </h3>
            </div>
            <div fxLayout="row wrap" style="padding-left:20px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <p style="padding-left:20px;">
                Scale from zero to Enterprise quality apps in a matter of days
              </p>
            </div>
          </div>
        </div>
      </mat-grid-list>
    </div>
  </div>
</div>