<div fxLayout="column wrap" style="width:30%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <mat-card style="background-color:grey;color:white;font-weight:500;border-radius:25px;box-shadow:5px 5px #ec1c24;" class="Card_box">
    <mat-card-title style="color:" align="center">Instructor</mat-card-title>

    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <mat-form-field style="color:white;border:none;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
          <input matInput required>

        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-accordion style="width:100%;">
            <mat-expansion-panel>
              <mat-expansion-panel-header>

                <mat-panel-title style="text-align:center;">
                  More Details
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                    <div>
                      FristName:</div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                    <div>
                      Vaibhav</div>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                    <div>
                      LastName</div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                    <div>
                      Vaibhav</div>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                    <div>
                      D.O.B</div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                    <div>
                      Vaibhav</div>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                    <div>
                      EmailID</div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                    <div>
                      Vaibhav</div>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                    <div>
                      Password:</div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                    <div>
                      Vaibhav</div>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                    <div>
                      Mobile No:</div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                    <div>
                      Vaibhav</div>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                    <div>
                      Country:</div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                    <div>
                      Vaibhav</div>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                    <div>
                      Gender</div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                    <div>
                      Vaibhav</div>
                  </div>
                </div>
                <div fxLayout="row wrap" style="margin-top:2em;" fxLayoutAlign="space-evenly end" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="margin-right:10px;" class="btn">Approved</button><button mat-raised-button style="background-color:black;color:white;">Reject</button></div>
              </div>
            </mat-expansion-panel>
          </mat-accordion><button mat-button (click)="openDialog()">Button</button>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions></mat-card-actions>
  </mat-card>
</div>