/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";


/*Importing default angular material css theme. */
/* body font */
body{
    font-size: 15px;
    line-height: 20px;
    font-family: Roboto "Helvetic Neve", sans-serif;
    font-family: Roboto Helvetic Neve, sans-serif !important;
    }    

h1,h4{
         font-family: Roboto Helvetic Neve, sans-serif;

}
    .mat-expansion-panel-header{
        height:50px;
    }
    


.gif{
    height: 300;
    width: 300;
}

.classmenuonadmindash:hover{
    color: white;
    background-color: #df252b;
    height: 3em;
    margin-top:0.5em;
    border-radius: 5px;
}
.linedraw{
    height: 500px;
    width:4px;
    background-color: white;
    border-radius:2px;
    box-shadow: 2px 2px 4px wheat;
    margin-top:35px;
    margin-bottom:35px;
}

.class1{
// <<<<<<< Updated upstream
    background-color:black;
    font-size:20px;
    font-weight:bold;
    color:#fff;
    font-family:arial;
    box-shadow:2px 2px 6px gray;
}
.header1{
    background-color: grey ;
    color:white;
    font-size:16px;
    text-align: center;
    font-weight: bold;
    text-align: center !important;
    padding:0px 50px 0px 5px !important;
    
}

.class1{
// <<<<<<< Updated upstream
  //  background-color:#696969;
  background-color: black;
  font-size:20px;
  font-weight: bold;
  color: white;
  
  
// =======
    
// >>>>>>> Stashed changes
    color:white;
    position: relative;
    top:0;
    left:0;
    right: 0;
    box-shadow: 2px 2px 6px gray;
    
}
.classmenuonadmindash{
     font-size:18px;
  font-weight: bold;
  color: white;
}
.class2{
   position: absolute;
   top:80px;
   margin: 2%;
    
}
.class3{
    margin: 20px;
}

.class4{
    
    height: 200px;
}
.class5{
  
    
    height: 50px;
    width:100%;
    padding: 50px;
}
.overflow{
    overflow: auto;
    
// <<<<<<< Updated upstream
}
.class6{
    background-color: #696969;
// =======
// >>>>>>> Stashed changes
}
.class10{
    overflow-x: auto;
}
/*Importing default angular material css theme. */


.class7{
    
    width:100%;
    background-color: rgba(200,200,200,.4);
    padding: 20px;
}
/*Homepage login button */

.menu{
    background: black;
}

.btn{
    background-color:#EC1C24;
    color: white;
    font-size:15px;
    font-weight:700;
    
}
.btn:hover{
    background-color: white;
    color: black;
}
.btn1{
    color:white;
    font-size:15px;
    font-weight:700;
 
}
.btn1:hover{
    background-color:#EC1C24;
    color: white;
}
.btn2{
    color: black;
    font-size:15px;
    font-weight:700;
}

.btn2:hover{
    background-color:white;
    color:#EC1C24; 
    cursor: pointer;
    font-size:15px;
    font-weight:700;
}

.readmore{
    background-color:#EC1C24;
    color:white;
     font-size:15px;
    font-weight:700;
    border-radius: 8px;

}
.readmore:hover{
    background-color:white;
    color:black;
    width:50%;
      

}
.box{
    background-color:#EC1C24;
    color:white;
    padding:12px;
    text-align: center;
    margin:5px;
    overflow: hidden;
  
   
}
.instructordashboardcard{
    margin-bottom: 40px;
    width:270px;
    height:300px;
}
.classmenuinstructordash{
    font-size:1px;
    font-weight:bold;
    color:#fff;
    font-family:arial;
}
.table_header1{
    background-color:gray;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    text-align:center !important;
    padding: 0px 50px 0px 5px !important;
}
.instdel_btn{
    margin-left:15px !important;
}
.class12{
   // border:4px solid grey;
    padding:0px;
    width:100%;
    
}
.class13{
    box-shadow:2px 2px 6px grey;
    padding:2em;
    width:100%;
    height:400px; 
    overflow: auto;
}
.box h4{
    font-size:22px;
    line-height: 1em;
}
.box p{
    line-height:1.7em;
    font-size:15px;
}
.menu{
    background-color: black;
    width:100%;
}
.btn{
    background-color:#EC1C24;
    color: white;
    font-size:15px;
    font-weight:700;
}
.btn:hover{
    background-color: white;
    color: black;
}
.btn1{
    color:white;
    font-size:15px;
    font-weight:700;
}
.btn1:hover{
    background-color:#EC1C24;
    color: white;
}

.bg{
    text-align: justify;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image:url('assets/Web/b4.jpg');
    
}

.BannerContent{
    color:white;
    width:100%;
    font-size:25px;
    font-weight:800;
    word-spacing:0.1em;
    letter-spacing:0.1em;
    line-height:1em; 
    text-align: justify;
    padding:20px;
}
.footer{
    background-color: black;
    color:white;
}
footer h3{
    font-size: 25px;
}
footer p{
    font-size:15px;
    line-height: 1.8em;
}
h3{
    font-size:25px;
}

/*End of home Page styling*/


/*Product page styling */

.product h4{
    font-size: 20px;
    color:#EC1C24;
}
.product p{
    font-size: 18px;
    line-height: 1.8em;
    margin-top:-20px;
}
.Product-Content{
    padding-left:20px;
    margin-top: -25px;
}
.MobMenu{
    background: lightgrey;
    opacity: 1;
    left:66%;
    position: absolute;
    top:7%;
   

}
.Mbtn{
color:white;
    font-size:15px;
    font-weight:700;
    cursor: pointer;

 
}
.Mbtn:hover{
    background-color:#EC1C24;
    color: white;
    cursor: pointer;

}

/* Dashboard  styling*/

.coursecards:hover{
    background-color: #EC1C24;
    color:white !important;
}
.cardbooks{
    height:50px;
    width:50px;
    margin-right:80px;
}
.card_header{
    width:100%;

}
.spaceallow{
    width: 400px;
    white-space: normal;
    word-break:break-all;
    
}
.spaceallow1{
    width: 800px;
    font-size: 22px;
}
/* End of Dashboard */


