<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:90%;margin:4em;" fxLayoutGap="2.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-card style="background-color:rgba(200,200,200,.4);">
        <mat-card-title>Total Courses</mat-card-title>

        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
              <mat-icon>poll</mat-icon>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <label style="font-size:1.5em">56</label></div>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-card style="background-color:rgba(200,200,200,.4);">
        <mat-card-title>Approved Courses</mat-card-title>

        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
              <mat-icon>poll</mat-icon>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <label style="font-size:1.5em">56</label></div>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-card style="background-color:rgba(200,200,200,.4);">
        <mat-card-title>Queued Courses</mat-card-title>

        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
              <mat-icon>poll</mat-icon>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <label style="font-size:1.5em">56</label></div>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row wrap" style="width:80%;margin:4em;" class="class10" fxLayoutGap="2.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-card *ngFor="let i of columarray" style="width:270px;height:420px;background-color:lightblue;">
      <mat-card-title>Card Title</mat-card-title>

      <mat-card-subtitle>Card Sub-Title</mat-card-subtitle>

      <img mat-card-image>

      <mat-card-content></mat-card-content>

      <mat-card-actions></mat-card-actions>
    </mat-card>
  </div>
</div>