<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="width:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-toolbar style="background-color:white;width:100%;padding:5px;">
        <div fxLayout="row " fxFlex="100" fxLayoutAlign="space-between none" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column " fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/logo.jpeg.png" style="width:50px;"></div>
              <div fxLayout="row wrap" style="padding-left:5px;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                <h2 style=" color:#DF252B;    font-size: 35px;    font-weight: 700;    font-family:  &apos;Courier New&apos;, Courier, monospace;   font-variant: petite-caps;" class="logo">
                  LMS</h2>
              </div>
            </div>
          </div>
          <div fxLayout="column " fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxFlex="100" fxLayoutGap=".5em" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><button mat-button class="btn1">Home</button><button mat-button class="btn1" routerLink="/product">Product</button><button mat-button class="btn1">Courses</button><button mat-button class="btn1" routerLink="/contactus">Contact Us</button><button mat-button class="btn" routerLink="/login">Login/Register</button></div>
          </div>
        </div>
      </mat-toolbar>
    </div>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" class="box" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <h3 style="font-size:25px;">
              Acceleration<br>
              #NeutrinosFast</h3>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <p>
              We transform app backlog into a high-octane app factory with the fastest ``time-to-monetisation`` with no compromise on enterprise-grade quality.</p>
          </div>
        </div>
        <div fxLayout="column wrap" class="box" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <h3 style="font-size:25px;">
              Solutions<br>
              #NeutrinosSolved</h3>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <p>
              We understand your unique challenges. We develop custom, state of the art solutions and implement them with unwavering follow up &amp; support.</p>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-radio-button required></mat-radio-button>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" class="footer" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxFlex="33.33" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxLayoutAlign="center none" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/logo1.png" style="height: 50px;     width: 150px;" class="footerlogo"><span style="color:#df252b;font-size:18px;margin-top:12px;">
                India</span>
          <p style="color:white;">
            No.156, 3rd Cross End, Ashoka Pillar Rd,<br>
            1st Block, Jaya Nagar East,<br>
            Bengaluru &#x2013; 560011, Karnataka<br>
            Phone: +91 80 4171 8111</p>
        </div>
      </div>
      <div fxLayout="row wrap" style="margin-top: 30px;" fxFlex="33.33" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="margin-top: 30px;" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
          <h3 style="color:white;  font-size: 20px;">
            Overview</h3>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div style="color:white;  font-size: 25px;">
              <a style="color:white;font-size:14px;text-decoration:none;" href="https://www.neutrinos.co/">Company</a><br>
              <a style="color:white;font-size:14px;text-decoration:none;" href="https://www.neutrinos.co/"> Platform</a><br>
              <a style="color:white;font-size:14px;text-decoration:none;" href="https://www.neutrinos.co/">Developers</a><br>
              <a style="color:white;font-size:14px;text-decoration:none;" href="https://www.neutrinos.co/"> Community</a><br></div>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" style="margin-top:30px;" fxFlex="33.33" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="margin-top: 30px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <h3 style="color:white;  font-size: 20px;">
            Get In Touch</h3>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/f.png" style="height:30px;"><img imgSrc="Web/l.png" style="height:30px;margin-left:30px;"><img imgSrc="Web/t.png" style="height:30px;margin-left:30px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-grid-list></mat-grid-list>
<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-radio-button required></mat-radio-button>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
</div>
<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>