<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-card>
    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
          <h3>
            The Platform
          </h3>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <h5>
            Accelerate Transformation. Redefine Productivity.
          </h5>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>