<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-card>
    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
          <h3>
            The Platform
          </h3>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <h5>
            Accelerate Transformation. Redefine Productivity.
          </h5>
        </div>
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxFlex="50" fxLayoutGap="5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" class="box" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                  <h4 style="line-height:1.5em;">
                    Acceleration<br>
                    #NeutrinosFast<br><br>
                    <small>We transform app backlog into a high-octane app factory with the fastest ``time-to-monetisation`` with no compromise on enterprise-grade quality.</small></h4>
                </div>
              </div>
              <div fxLayout="column wrap" class="box" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <h4 style="line-height:1.5em;">
                  Solutions<br>
                  #Neutrinos Solved<br><br>
                  <small>We understand your unique challenges. We develop custom, state of the art solutions and implement them with unwavering follow up &amp; support.</small></h4>
              </div>
              <div fxLayout="column wrap" class="box" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <h4 style="line-height:1.5em;">



                  Enablement<br>
                  #NeutrinosTogether
                  <small>With state-of-the art security and seamless platform integration, we ensure your peace of mind. Boost productivity without the costs and typically long lead times.</small></h4>
              </div>
              <div fxLayout="column wrap" class="box" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <h4 style="line-height:1.5em;">
                  Acceleration<br>
                  Enablement<br>
                  #NeutrinosTogether<br><br>
                  <small>Our Platform, Tools &amp; Support are available to developers from all walks of life. Join our community to unleash creativity, productivity and commercial success.</small></h4>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <h3 style="font-size:20px; line-height:1.5em;">
                Delivering value to everyone from Enterprises to Citizen Developers</h3>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>