<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="background-color:lightpink;" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <h1 style="margin-left:50px;    margin-top: 10px;margin-bottom: 15px;">
            React Native - The Practical Guide</h1>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <h3 style="margin-left:50px;margin-top:0px;margin-bottom:15px;">
            Use React Native and your React knowledge and take your web <br> development skills to build native iOS and Android Apps</h3>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <h4 style="margin: 0px 0px 15px 50px;">
            Created by Academind by Maximilian Schwarzm&#xFC;ller, Maximilian Schwarzm&#xFC;ller</h4>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" style="background-color:skyblue;" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="margin-top: 10px;" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="background-color:gray;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3 style="margin-left: 50px;     margin-top: 15px;     margin-bottom: 15px;">
        What you&apos;ll learn</h3>
    </div>
  </div>
</div>