<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <bh-header></bh-header>
  <div fxLayout="row wrap" class="class7" fxFlex="100" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="height:300px;background-color:black;" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false">
      <h1>
        Learn by with easy schedule and Joy..</h1>
      <h2>
        Study any topic, anytime.<br> Choose from thousands of expert-led courses now</h2><button mat-raised-button color="warn">Register for Learn Course</button>
    </div>
  </div>
  <div fxLayout="row wrap" style="    margin: 77px 0px 77px 77px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="margin:77px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngFor="let course of approvedCourses">
      <mat-card (click)="getSelectedCourse(course._id)" style="width: 250px;border:2px solid red;border-radius: 61px;height: 250px;text-align: center;color:darkred;cursor:pointer;" class="coursecards">
        <mat-card-content align="center">
          <mat-icon style="font-size:80px; width:0px;" class="cardbooks">book</mat-icon>
        </mat-card-content>

        <mat-card-title>Course Name</mat-card-title>

        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>
  </div>
  <bh-footer></bh-footer>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <router-outlet></router-outlet>
  </div>
</div>